body {
  margin: 0;
  font-family: Arial;
  background: #f4f4f4;
}

.wrapper {
  display: flex;
}

.sidebar {
  width: 220px;
  background: #1b3b7a;
  color: white;
  height: 100vh;
  padding: 20px;
}

.sidebar h2 {
  text-align: center;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 12px;
  cursor: pointer;
}

.sidebar ul li.active,
.sidebar ul li:hover {
  background: #102752;
}

.main {
  width: 100%;
  padding: 20px;
}

.topbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.search {
  width: 300px;
  padding: 10px;
}

.cards {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.card {
  background: white;
  padding: 20px;
  width: 200px;
  border-radius: 10px;
  box-shadow: 0 0 5px gray;
}

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

table, th, td {
  border-bottom: 1px solid #ddd;
}

th, td {
  padding: 12px;
}

.action-btn {
  padding: 5px 10px;
  background: #2979ff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}