.portal-bg {
  background: linear-gradient(145deg, #dce3ff, #f5f7ff);
}

.wrapper {
  display: flex;
}

/* SIDEBAR */
.sidebar {
  width: 250px;
  background: #1b3b7a;
  color: white;
  height: 100vh;
  padding: 20px;
  border-right: 4px solid #0f2559;
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 12px;
  cursor: pointer;
  border-radius: 6px;
  display: flex;
  align-items: center;
}

.sidebar ul li i {
  margin-right: 10px;
}

.sidebar ul li:hover,
.sidebar ul li.active {
  background: #102752;
}

/* MAIN */
.main {
  width: 100%;
  padding: 20px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout-btn-big {
  padding: 12px 25px;
  background: #e63946;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
}

.cards {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.card {
  width: 200px;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 8px gray;
}

table {
  width: 100%;
  margin-top: 20px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 0 8px gray;
}

th, td {
  padding: 12px;
  border-bottom: 1px solid #eee;
}

.action-btn {
  padding: 6px 12px;
  background: #1b3b7a;
  color: white;
  border-radius: 6px;
}
