body {
  background: #e9e9e9;
  font-family: Arial;
}

.box {
  width: 350px;
  margin: 80px auto;
  background: white;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 10px gray;
}

.box h2 {
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 5px;
  border: 1px solid gray;
}

button {
  width: 100%;
  padding: 10px;
  background: #3b7ddd;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dash {
  width: 500px;
  margin: 30px auto;
  background: white;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 10px gray;
}