body.bg {
  background: linear-gradient(120deg, #1b3b7a, #2979ff);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 380px;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 0px 12px rgba(0,0,0,0.3);
}

.box input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 6px;
  border: 1px solid #999;
}

button {
  width: 100%;
  padding: 12px;
  background: #1b3b7a;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 16px;
}

.uni {
  text-align: center;
  font-size: 18px;
  color: #1b3b7a;
}

/* ICON FIELDS */
.input-group {
  position: relative;
}

.input-group i {
  position: absolute;
  left: 10px;
  top: 13px;
  font-size: 18px;
  color: #1b3b7a;
}

.input-group input {
  padding-left: 35px !important;
}
